@import "./variables";
@import "./typography";

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Ropa Sans', sans-serif;
  background-color: @c-white;
}

* {
	box-sizing: border-box;
  outline: none;
}
