// neutral
@c-white: #FFF;
@c-light: #EEE;
@c-semi-transparent: rgba(255, 255, 255, 0.5);

// brand
@c-primary-light: #7986CB;
@c-primary: #283593;

// Breakpoints
@mobile:      ~"only screen and (max-width: 529px)";
@desktop:      ~"only screen and (min-width: 530px)";
