@import "~styles/variables";
@import "~styles/variables";
@import "~styles/typography";

.navigation {
  position: absolute;
  top: 0;
  left: 4%;
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 4rem;
  height: 8rem;
  background-color: @c-semi-transparent;
  border: 0;
  cursor: pointer;

  .icon {
    display: inline-block;
    width: 2rem;
    vertical-align: middle;
  }

  .label {
    display: none;
  }

  &:disabled {
    .icon {
      opacity: 0.5;
    }
  }
}

.previous {
  border-radius: 0 10em 10em 0;

  .icon {
    transform: rotate(180deg);
    margin-left: -50%;
  }
}

.next {
  border-radius: 10em 0 0 10em;

  .icon {
    margin-right: -50%;
  }
}

@media @desktop {
  .navigation {
    position: initial;
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .button {
    width: auto;
    height: auto;
    padding: 1rem 2rem;
    margin: 0 1rem;
    background-color: @c-primary;
    color: @c-white;

    &:disabled {
      background-color: @c-primary-light;
    }

    .icon {
      display: none;
    }

    .label {
      display: inline;
    }
  }

  .previous {
    border-radius: 1rem 0 0 1rem;
  }

  .next {
    border-radius: 0 1rem 1rem 0;
  }

}
