<!doctype html>
<html lang="en">
<head>

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
</body>
</html>
