@import "~styles/variables";

.carousel {
  position: relative;
  background-color: @c-white;
  padding: 2rem 0;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  transition: transform 0.25s;
}
