@import "~styles/variables";
@import "~styles/variables";
@import "~styles/typography";

.item {
  flex: 0 0 auto;
  padding: 0 2%;
  max-width: 96%;
}

.image {
  display: block;
  width: 100%;
}

.label {
  color: @c-primary;

  .big-regular-text();
}
